*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }
  body{
  font-family: 'Outfit';
  background-image: linear-gradient(100deg, #ffffff 20%, #b1c3e2 100%);
  /* background: linear-gradient(#ffdad5, #fff7f9); */
  }
  .contact-container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  }
  .contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  }
  .contact-left-tittle h2{
    font-weight: 600;
    color:#a363aa;
    font-size: 40px;
    margin-bottom: 5px;
  }
  .contact-left-tittle hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .contact-inputs{
    width: 400px;
    height: 50px;
    border:none ;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color:#666;
    border-radius: 7px;
    border: 1px solid #9d9d9d;
  }
  .contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 7px;
  }
  .contact-inputs:focus{
border: 1px solid black;
  }
  .contact-inputs::placeholder{
    color: grey;
    font-weight: 500;
    font-size: 16px;
  }
  .contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    font-size: 16px;
    color: #fff;
    gap:10px;
    border:none;
    border-radius: 7px;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    cursor: pointer;
  }
  .contact-left button img{
    height: 15px;
  }
  .contact-right img{
     width: 450px;
     height: 600px;
  }
  @media(max-width:950px){
    .contact-inputs{
      width: 80vw;
    }
    .contact-right{
      display: none;
    }
    body{
      background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
      }
  }